body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0086ea;
  }
  /*
   * Formatting the header area
   */
  header {
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
  }
  header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
  }
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  /*
   * Centering the body content
   */
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .small-container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .footer {
    height: 35px;
    opacity: .9;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .thought {
    position: relative;
    width: 300px;
    height: 140px;
    padding: 1rem 1rem 0;
    text-align: center;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    border: 8px solid #0086ea;
    border-radius: 30px;
    margin-left: 325px;
  }
  .thought:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 156px;
    border: 25px solid;
    border-color: #0086ea transparent transparent #0086ea;
  }
  .thought:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 156px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
  }
  .images {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
  .state {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
  }
  .joke {
    padding: 10px;
    border: 3px solid #ef2325;
    margin: auto;
    width: 750px;
    display: block;
    text-align: center;
    font-size: 1.7em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
         border-radius: 6px;
  }
  .hostname {
    padding: 10px;
    font-size: .75em;
    color: #000;
  }
  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
  }
  .menu {
    float: right;
    margin-top: 8px;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    color: #ffffff;
    text-decoration: none;
  }